extends ../base/layout

block data

block variables
  - var title = "Тест"
  - var wrapperMod = ""
  - var currentPage = "main"
  -
    var logoData = [
      {
        label: "Переход на сайт Сравни.ру",
        icon: {
          name: "logo-sravni",
          width: 109,
          height: 20,
        },
      },
      {
        label: "Переход на сайт Халвы",
        icon: {
          name: "logo-halva",
          width: 88,
          height: 20,
        },
      },
    ]


block main
  main
    h1.visually-hidden
      | Тест: что ваши траты говорят о вас?
    section.quiz
      .quiz__figure
        .quiz__inner.container.container--align-right
          .quiz__figure-header
            +logo-group({data: logoData})
            +button({cssClass: "button--no-padding button--transparent quiz__to-main mobile-only", href: "#", icon: {name: "icon-arrow-left", width: 24, height: 24, left: true}})
          .quiz__figure-image
            +img("content", "question-image-2", "svg", "540", "540", "Кошелёк с деньгами")
          +stage({cssClass: "quiz__stage", current: 2, amount: 10})
      .quiz__main
        .quiz__inner.container.container--align-left
          +button({cssClass: "button--no-padding button--transparent quiz__to-main not-mobile", href: "#", text: "Вернуться на главную", icon: {name: "icon-arrow-left", left: true}})
          .quiz__question
            h2.quiz__question-title Представьте, вам заплатили премию, как вы её потратите?
            ul.quiz__answer-list
              li.quiz__answer-item
                +radio({id: "answer-2-1", name: "question-2", value: "1", label: "Поищу, куда выгоднее вложить деньги"})
              li.quiz__answer-item
                +radio({id: "answer-2-2", name: "question-2", value: "2", label: "Внесу досрочный платёж по кредиту"})
              li.quiz__answer-item
                +radio({id: "answer-2-3", name: "question-2", value: "3", label: "Пока что не знаю. Потрачу с удовольствием для себя "})
              li.quiz__answer-item
                +radio({id: "answer-2-4", name: "question-2", value: "4", label: "Оплачу отдых своим близким "})

            +button({cssClass: "button--disabled quiz__next-button", href: "#", text: "Следующий вопрос", icon: {name: "icon-arrow-right", right: true}})
          +social({title: "Рассказать друзьям", cssClass: "quiz__social"})
