mixin img(path, name, format, width, height, alt)
  img(src="img/" + path + "/" + name + "." + format, srcset= (format === "svg") ? null : "img/" + path + "/" + name + "@2x." + format + " 2x", width= width, height= height, alt= alt)
