.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 90px;

  @include viewport--mobile {
    padding: 0 20px;
  }

  &--align-right {
    margin-right: 0;
    margin-left: auto;

    @include viewport--mobile {
      margin: 0 auto;
    }
  }

  &--align-left {
    margin-right: auto;
    margin-left: 0;

    @include viewport--mobile {
      margin: 0 auto;
    }
  }

  &--no-padding {
    padding: 0;

    @include viewport--mobile {
      padding: 0 20px;
    }
  }
}
