@font-face {
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/open-sans-400.woff2") format("woff2"),
    url("../fonts/open-sans-400.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 600;
  font-display: swap;
  src:
    url("../fonts/open-sans-600.woff2") format("woff2"),
    url("../fonts/open-sans-600.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-family: "Ubuntu";
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/ubuntu-700.woff2") format("woff2"),
    url("../fonts/ubuntu-700.woff") format("woff");
}
