include ../base/mixins

block data
block variables

doctype html
html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Описание")
    link(rel="preload", href="fonts/open-sans-400.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/open-sans-600.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/ubuntu-700.woff2", as="font", crossorigin="anonymous")
    link(rel="stylesheet", href="css/style.min.css")

  body
    +sprite()
    div(class=(wrapperMod) ? "wrapper wrapper--" + wrapperMod : "wrapper")
      block main

    script(src="js/vendor.min.js")
    script(src="js/main.min.js")
