// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-black:                     #000000;
$color-white:                     #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Pallete

$color-vulcan:                    #3c3e44;
$color-suva-grey:                 #8c8c8c;
$color-radical-red:               #ff4e50;

// Colors

$color-text:                        $color-vulcan;
$color-text--light:                 $color-white;
$color-background:                  $color-white;
$color-accent:                      $color-radical-red;

// Gradient
$gradient-background:               linear-gradient(180deg, #FF3B52 0%, #FF6E50 100%);
$gradient-stripes:                  repeating-linear-gradient(90deg, rgba($color-white, 0.03), rgba($color-white, 0.03) calc(100% / 13), transparent calc(100% / 13), transparent calc(2 * (100% / 13)));
$gradient-stripes-mobile:           repeating-linear-gradient(90deg, rgba($color-white, 0.03), rgba($color-white, 0.03) calc(100% / 5), transparent calc(100% / 5), transparent calc(2 * (100% / 5)));

// Typography
//---------------------------------

$font-family--default:              "Open Sans", "Arial", sans-serif;
$font-family--title:                "Ubuntu", "Verdana", sans-serif;

// Animation
//---------------------------------

$transition:                        0.3s ease;
$transition-modal:                  0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$viewport--sm:                      320px;
$viewport--md:                      768px;
$viewport--lg:                      1024px;
$viewport--xl:                      1440px;
$viewport--xxl:                     1920px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
