mixin social(props)
  div(class= (props.cssClass) ? "social " + props.cssClass : "social")&attributes(attributes)
    if (props.title)
      b.social__title!= props.title
    ul.social__list
      li.social__item
        a.social__link(href="#", aria-label="Мы в Telegram", target='_blank', rel='nofollow noopener')
          +icon("icon-social-telegram", 20, 20)
      li.social__item
        a.social__link(href="#", aria-label="Мы в Facebook", target='_blank', rel='nofollow noopener')
          +icon("icon-social-facebook", 20, 20)
      li.social__item
        a.social__link(href="#", aria-label="Мы в Вконтакте", target='_blank', rel='nofollow noopener')
          +icon("icon-social-vkontakte", 20, 20)
      li.social__item
        a.social__link(href="#", aria-label="Мы в twitter", target='_blank', rel='nofollow noopener')
          +icon("icon-social-twitter", 20, 20)



